{% extends "base.html" %}


{% block sidebar %}
	<!-- onClick we want to navigate to a blank message --> 
	<div class = "sidebar"> 
	
		<!-- insert numMsgs --> 
		<a class="gray-link" href="/">Inbox( {{numMsgs}} )</a> 
	</div>
	
	<div class = "sidebar"> 
		<a class="gray-link" href="#">Sent( {{numSendMsgs}} )</a>
	</div>

{% endblock %}



{% block content %}
  <div class = "container"> 
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li>New uMail</li>
			</ul>
		</div>
	</div>
		
		<form class = "msg-form" method="post">
			  <div class = "row">
				<div>To</div>
				<input class="col-lg-12" type="text" required name="recipient" value="{{recipient}}">
			  </div>
			  
			  <div class = "row">
				<div>Subject</div>
				<input class="col-lg-12" type="text" name="subject" value="{{subject}}">
			  </div>

			  <div class = "row">
				<div>Message</div>
				<textarea class="col-lg-12" rows="16" name="body">{{body}}</textarea>
			  </div>

			  <div class="error">
			    {{error}}
			  </div>
			
			  <div> 
				<button class = "btn btn-warning btn-small" type = "submit">Send</button>
			  </div>

		  </form>
  </div> 
{% endblock %}
