{% extends "base.html" %}


{% block sidebar %}
	<!-- onClick we want to navigate to a blank message --> 
	<div class = "sidebar"> 
	
		<!-- insert numMsgs --> 
		<a class="gray-link" href="/">Inbox( {{numMsgs}} )</a> 
	</div>
	
	<div class = "sidebar"> 
		<a class="gray-link" href="/sent">Sent( {{numSentMsgs}} )</a>
	</div>

{% endblock %}



{% block content %}
  <div class = "container col-lg-10"> 
	<div class="navbar navbar-default">
		<div class="navbar-inner">
			<ul class="nav">
				<li>New uMail</li>
			</ul>
		</div>
	</div>
		
		<form role="form" method="post">
  			<div class="form-group">
    			<label for="InputRecipient">To</label>     			
    			<input class="form-control" id="InputRecipient" type="text" placeholder="Enter recipient" 
    			required name="recipient" pattern="^\w{3,20}$" value="{{recipient}}">
  			</div>
  			
  			
  			<div class="form-group">
    			<label for="InputSubject">Subject</label>
    			<input class="form-control" id="InputSubject" type="text" placeholder="Subject"  name="subject" value="{{subject}}">
  			</div>
  
  			<div class="form-group">
    			<label for="InputMessageBody">Message</label>
    			<textarea class="form-control" id="InputMessageBody" rows="16" name="body">{{body}}</textarea>
  			</div>
  
  			<button type="submit" class="btn btn-warning">Send</button>
		</form>
		<script type="text/javascript" src="\static\js\Trie.js"></script>
		<script type="text/javascript">
			var data = window.top.name ? JSON.parse(window.top.name) : null
			if (data !== null) {
				var trie =  buildTrie( JSON.parse( window.top.name ) );
			} 
		</script>
				
  </div> 
   
  
{% endblock %}
