<!DOCYPE html> 
<html lang="en"> 
<head> 
<meta charset=utf-8> 

<style> 

/*
#main { 
	-webkit-column-width: 12em; 
	column-width: 12em; 
}
*/

#main { 
	-webkit-column-count: 4;
	-webkit-column-rule: thin dotted #999; 
	-webkit-column-gap: 2em; 
}

</style> 

</head> 


<body> 


<form method="post">
	<table>
		<tr>
			<td class="label">
				Username
			</td>
			
			<td>
				<input type = "text" pattern="^\w{3,20}$" name = "username">
			</td>
		</tr>
				
		<tr>
			<td class="label">
				Password
			</td>
		
			<td>
				<input id="pwd1" type = "password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}" name="pwd1" onchange="
				this.setCustomValidity(this.validity.patternMismatch ? 'Password must contain at least 6 characters, including UPPER/lowercase and numbers' : ''); if(this.checkValidity()) form.pwd2.pattern = this.value">
			</td>
			
		</tr>
				
		<tr>
			<td class="label">
				Verify Password
			</td>
			<td>
				<input id="pwd2" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}" name="pwd2" onchange="
				this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');">
			</td>
		</tr>
					
		<tr>
			<td class="label">
				Email
			</td>

			<td>
				<input type = "email" required name = "email">
			</td>
		</tr>
		
	</table>
	<input class ="btn btn-primary" 	type = "submit">
<input type="hidden" name="prior_url" value={{prior_url}}/>
</form>

</body> 
<script type="text/javascript" src="F:\msgApp\msg\templates\testform.js"></script>


</html> 