{% extends "base.html" %}



<!-- sender / subject / date --> 


{% block sidebar %}
	<!-- onClick we want to navigate to a blank message --> 
	<a href="/newMsg"><button class='btn btn-warning btn-small' type="button">Compose</button></a>
	<div class = "sidebar"> 
	
		<!-- insert numMsgs --> 
		<a class="gray-link" href="/">Inbox ( {{numMsgs}} )</a> 
	</div>
	
	<div class = "sidebar"> 
		<a class="gray-link" href="/">Sent ( {{numSentMsgs}} )</a>
	</div>
	
	<div class = "sidebar"> 
		<a class="gray-link" href="/">Sent ( {{numSentMsgs}} )</a>
	</div>

	<div class = "sidebar"> 
		<a class="gray-link" href="/group">Groups</a>
	</div>

	
{% endblock %}


{% block content %}
	<div class="row")>
  		<div class="col-lg-11"> 
  
  			<div class="panel">
  	 			<div class="panel-heading">
    				<h3 class="panel-title">Messages</h3>
  				</div>
			
				<div class="panel-body">  
					<table class="table">
						<thead> 
							<tr> 
								<th>From</th> 
								<th>Subject</th>
								<th>Date</th> 
							</tr>
						</thead>
						
						<tbody>    
						{% for msg in msgs %}
							<tr>
								<td>
									<a class = "{{msg.hasBeenRead}}" href="{{msg.msgURL}}">{{msg.author}}</a>
								</td>
				
								<td>
									<a class = "{{msg.hasBeenRead}}" href="{{msg.msgURL}}">{{msg.subject}}</a>
								</td>
				
								<td>
									<a class = "{{msg.hasBeenRead}}" href="{{msg.msgURL}}">{{ msg.created.strftime("%b %d, %Y") }}</a>
								</td>
							</tr>
						{% endfor %}
		    			</tbody> 
					</table>			
  				</div>
  			</div> <!-- end of panel --> 
		
		</div>  
	</div> 
{% endblock %}


	


